.discription__earphone {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 150px;
}

.discription__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.discription__title {
    width: 676px;
    height: 222px;
    text-align: center;
    letter-spacing: -0.06em;
    font-weight: 700;
    font-size: 100px;
    line-height: 73.52px;
    color: #FF25C2;
}

.discription__content {
    width: 100%;
    margin: 0 auto;
}

.discription__icon {
    margin: 0 auto;
    width: 54px;
    height: 54px;
    background-color: #FF25C2;
    border-radius: 100px;
    padding: 15px;
}

.discription__text {
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    max-width: 507px;
    height: 120px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;

}

@media (max-width: 767px) {
    .discription__earphone {
        width: 100%;
        padding-bottom: 100px;
    }

    .discription__wrapper {
        gap: 50px;
    }

    .discription__title {
        width: 100%;
        font-size: 60px;
        line-height: 44px;
        height: 130px;
    }

    .discription__text {
        font-size: 16px;
        line-height: 19px;
        height: 76px;
    }


}