.earphone {
    width: 100%;
}

.white__earphone {
    margin: 0 auto;
    width: 100%;
    height: 645px;
    position: relative;
    background: url("../resources/white_earphone-image.png") no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 80px;
    border: 1px solid #fff;

}

.earphone__title {
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 60px;
    line-height: 56px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.05em;
    width: 375px;
    height: 112px;
}

.earphone__image {
    position: absolute;
    top: 310px;
    left: 50px;
    width: 145px;
    height: 145px;
}

.earphone__btn {
    width: 420px;
    position: absolute;
    left: 50px;
    top: 485px;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    padding: 41px 61px;
    background-color: transparent;
    cursor: pointer;
}

.earphone__btn:hover {
    color: #000;
    background-color: #fff;
    transition: 1s all;
}



.black__earphone {
    background: url("../resources/black__earphone-image.png") no-repeat;
    margin: 0 auto;
    width: 100%;
    height: 645px;
    position: relative;
    background-size: cover;
    background-position: 50%;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 80px;
    border: 1px solid #FFFFFF;
}

.nothing__phone {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 150px;
    height: 644px;
}

.nothing__container {
    margin: 0 auto;
    width: 100%;
    max-width: 570px;
    height: 645px;
    position: absolute;
    right: 0;
    background: url("../resources/phone__nothing-image.png") no-repeat;
    background-size: cover;
    background-position: 50%;
    object-fit: cover;
    border-radius: 30px;
    border: 1px solid #FFFFFF;

}

.nothing__phone__title {
    width: 345px;
    position: absolute;
    top: 50px;
    left: 35px;
    font-size: 45px;
    line-height: 42px;
    color: #fff;
    letter-spacing: -0.05em;
    font-weight: 700;
}

.nothing__phone__image {
    position: absolute;
    bottom: 45px;
    left: 35px;
    border-radius: 30px;
}

.description__phone {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 555px;
    height: 280px;
    font-size: 60px;
    line-height: 56px;
    color: #fff;
    letter-spacing: -0.05em;
    font-weight: 700;
}

@media (max-width: 1199px) {

    .nothing__phone {
        height: 0;
        margin: 0;
        height: 1080px;
        margin-bottom: 150px;
    }

    .nothing__container {
        top: 435px;
    }

    .description__phone {
        top: 150px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .earphone__btn {
        width: 100%;
        left: 0px;
        right: 0px;
    }

    .earphone__title {
        width: 100%;
        max-width: 270px;
        left: 15px;
    }

    .earphone__image {
        display: none;
    }

    .white__earphone {
        width: 100%;
        margin-bottom: 50px;
    }

    .black__earphone {
        width: 100%;
        margin-bottom: 50px;
    }

    .description__phone {
        width: 100%;
        font-size: 42px;
        line-height: 42px;
        position: static;
    }

    .nothing__phone__title {
        width: 100%;
        max-width: 220px;
    }

    .nothing__container {
        top: 280px;
    }

    .nothing__phone {
        height: 925px;
        margin-bottom: 100px;
    }
}