.footer {
    width: 100%;
    margin: 0 auto;
}

.footer__container {
    width: 1150px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.footer__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 43px;
    padding-bottom: 75px;
}

.nav__item {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
}

.nav__item:hover {
    opacity: 0.5;
    transition: 1s;
}

.footer__discription {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FF25C2;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
}

@media (max-width: 1199px) {
    .footer__container {
        width: 100%;
    }

    .footer__nav {
        padding-bottom: 45px;
    }
}


@media (max-width: 767px) {
    .footer__nav {
        flex-direction: column;
        gap: 10px;
        padding-bottom: 40px;
    }

    .footer__discription {
        justify-content: center;
        gap: 10px;
        flex-direction: row-reverse
    }
}