@import'../CSS/header.css';
@import'../CSS/earphone.css';
@import'../CSS/fullscreen.css';
@import'../CSS/discription__earphone.css';
@import'../CSS/earphone__full-image.css';
@import'../CSS/gallery.css';
@import'../CSS/contact.css';
@import'../CSS/footer.css';

* {
    transition: .25s ease-in-out;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    background-color: black;
    letter-spacing: -0.03em;
    overflow-x: hidden;


}

::-webkit-scrollbar {
    width: 0;
}

h1, h2, h3, p, a {
    letter-spacing: -0.03em;
}


.container {
    margin: 0 auto;
    width: 1150px;

}

@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    * {
        -webkit-tap-highlight-color: transparent;
    }

}

@media (max-width: 767px) {
    .container {
        width: 100%;
        padding-left: 13px;
        padding-right: 12px;
    }

    * {
        -webkit-tap-highlight-color: transparent;
    }

}